    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(img/logo.png);"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                class="fa-solid fa-users-line mr-2"></i>Quản lý nhân viên</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="/home"><i class="fa-solid fa-list-ol mr-2"></i>Danh sách NV</a>
              </li>
              <li>
                <a href="/salary"><i class="fa-solid fa-coins mr-2"></i>Tính lương tháng</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="footer">
          <a href="#"><i class="fa-solid fa-right-from-bracket mr-2"></i>Đăng xuất</a>
        </div>

      </div>
    </nav>