      <form class="form-inline my-2 my-lg-0 mr-5 mb-lg-3">
        <div class="input-group mb-3 w-100 ml-5">
          <input type="text" class="form-control py-4">
          <button type="submit" class="btn bg-white px-3"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
      </form>
      <table class="table table-bordered table-dark">
        <thead>
          <tr class="text-center text-warning align-middle" style="font-size: 1.15rem;">
            <th scope="col">STT</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Lương căn bản</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">ngày vào làm</th>
            <th scope="col"><i class="fa-solid fa-sliders"></i></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">1</th>
            <td class="align-middle">Ngân</td>
            <td class="align-middle">8.000.000 đ</td>
            <td class="align-middle">Nhân viên</td>
            <td class="align-middle">01/01/2023</td>
            <td class="align-middle">
              <button class="btn btn-danger my-2"><i class="fa-solid fa-trash-can"></i></button>
              <button class="btn btn-success my-2" data-toggle="modal" data-target="#myModal"><i
                  class="fa-regular fa-pen-to-square"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="align-middle">Tiên</td>
            <td class="align-middle">8.000.000 đ</td>
            <td class="align-middle">Nhân viên</td>
            <td class="align-middle">01/01/2023</td>
            <td class="align-middle">
              <button class="btn btn-danger my-2"><i class="fa-solid fa-trash-can"></i></button>
              <button class="btn btn-success my-2" data-toggle="modal" data-target="#myModal"><i
                  class="fa-regular fa-pen-to-square"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="align-middle">Phương Anh</td>
            <td class="align-middle">8.000.000 đ</td>
            <td class="align-middle">Nhân viên</td>
            <td class="align-middle">01/01/2023</td>
            <td class="align-middle">
              <button class="btn btn-danger my-2"><i class="fa-solid fa-trash-can"></i></button>
              <button class="btn btn-success my-2" data-toggle="modal" data-target="#myModal"><i
                  class="fa-regular fa-pen-to-square"></i></button>
            </td>
          </tr>
        </tbody>
      </table>